@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap");
.social-icon-fb {
  width: 20px;
  height: 20px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconFacebook.png);
}

.page-header {
  display: flex;
  align-items: center;
  padding: 50px 0 0 80px;
}
.page-header__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  min-width: 100px;
  min-height: 30px;
  color: #1968fc;
  margin-left: 10px;
}

.headline {
  margin-top: 80px;
  padding-left: 80px;
}
.headline__title {
  min-width: 480px;
  min-height: 120px;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 1px;
  color: #11223f;
}
.headline__subtitle {
  min-width: 480px;
  min-height: 80px;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #11223f;
}
.headline__button {
  min-width: 300px;
  min-height: 50px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
  background: #1968fc;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  border: none;
}
.headline__logo {
  min-width: 599px;
  min-height: 502px;
  margin: 80px 20px;
}

.section-bottom {
  min-width: 640px;
  min-height: 180px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png);
  display: flex;
}
.section-bottom__text {
  display: flex;
  align-items: center;
  margin: auto;
  width: 520px;
  height: 120px;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.stories {
  padding: 60px;
  background-color: #f2f2f2;
}
.stories-title {
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  color: #11223f;
}
.stories-title-line {
  width: 80px;
  height: 2px;
  background-color: #1968fc;
  margin-top: 10px;
}
.stories__descriprion-box-logo {
  display: flex;
  align-items: center;
}
.stories__descriprion-box-logo h1 {
  margin-left: 20px;
}

.consultation {
  background-color: #1968fc;
  padding: 60px;
}
.consultation__header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffffff;
}
.consultation__header-title-line {
  background-color: #ffffff;
}
.consultation__description-paragraph {
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  margin: 0;
  margin-top: 38px;
}
.consultation__btn {
  min-width: 320px;
  min-height: 50px;
  padding: 0;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #1968fc;
  margin-top: 40px;
}

.page-footer {
  display: flex;
  align-items: center;
  min-width: 640px;
  height: 130px;
  background-color: #fbfbfb;
  margin-bottom: 90px;
  position: relative;
}
.page-footer__logo {
  display: flex;
  padding: 40px;
  margin-right: 10px;
}
.page-footer__logo-icon {
  display: flex;
}
.page-footer__logo-icon-inst {
  width: 50px;
  height: 50px;
  padding: 15px;
}
.page-footer__logo-social-fb {
  width: 50px;
  height: 50px;
  padding: 15px;
  margin-right: 3px;
}
.page-footer__logo-social-inst {
  width: 50px;
  height: 50px;
}
.page-footer__logo-btn-border {
  align-items: center;
  display: flex;
  width: 200px;
  height: 50px;
  background-color: #1968fc0d;
  color: #1968fc;
}
.page-footer__man-logo {
  position: absolute;
  right: 40px;
  bottom: 0px;
}

* {
  font-family: Mulish, sans-serif;
  box-sizing: border-box;
}

.container {
  min-width: 640px;
  max-height: 3390px;
}

@media screen and (max-width: 1023px) {
  body {
    background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
  }
}

/*# sourceMappingURL=styles.css.map */
