.consultation {
  background-color: $text-color-blue;
  padding: 60px;

  &__header-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    text-transform: uppercase;
    color: $text-color-white;

    &-line {
      background-color: $text-color-white;
    }
  }

  &__description-paragraph {
    font-size: 20px;
    line-height: 40px;
    color: $text-color-white;
    margin: 0;
    margin-top: 38px;
  }

  &__btn {
    min-width: 320px;
    min-height: 50px;
    padding: 0;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $text-color-blue;
    margin-top: 40px;
  }
}
